<body style="padding-left: 20px; margin-right: 25px;">
  <div style="padding-bottom: 10px;"> 
    <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
    <input hidden (change)="setFileInput($event)" #fileInput type="file" id="file">
  </div>
  <div>
    <a style="color: white;">{{fileName}}</a>
  </div>
  <div>
    <!-- TODO: Update slider to select a range of weight -->
    <mat-slider
      thumbLabel
      [displayWith]="formatLabel"
      tickInterval="1000"
      step="10000"
      min="0"
      max="100000000"
      aria-label="units"
      color="warn"
      (input)="setSliderValue($event)">
    </mat-slider>
  </div>
  <!-- TODO: Add date filter (minimum year, maximum year) -->
  <div>
    <section>
      <span>
        <mat-checkbox class="example-margin"
                      [checked]="allComplete"
                      [color]="task.color"
                      [indeterminate]="someComplete()"
                      (change)="setAll($event.checked)"
                      style="color: red;">
          <a style="color: white;">{{task.name}}</a>
        </mat-checkbox>
      </span>
      <span>
        <ul>
          <li *ngFor="let subtask of task.subtasks">
            <mat-checkbox [checked]="subtask.completed"
                          (change)="subtask.completed = $event.checked"
                          [color]="subtask.color"
                          (ngModelChange)="updateAllComplete()">
              <a style="color: white;">{{subtask.name}}</a>
            </mat-checkbox>
          </li>
        </ul>
      </span>
    </section>
  </div>
  <div>
    <button mat-raised-button (click)="emitData()">Launch</button>
    <!-- TODO: Disable when animation is working -->
  </div>
  <!-- TODO: Add button to cancel animation and see Dot of crash directly (+enable Launch Button) -->
</body>