body {
  padding-left: 20px;
  margin-right: 25px;
}

.filePicker {
  padding-bottom: 20px;
}

.minDate {
  padding-top: 20px;
  padding-bottom: 20px;
}

.maxDate {
  padding-bottom: 20px;
}

.fileName {
  padding-bottom: 20px;
}

.txtFileName {
  color: white;
}

.txtMinMass {
  color: white;
}

.varMinMass {
  color: #3f51b5;
}

.txtMinYear {
  color: white;
}

.txtMaxMass {
  color: white;
}

.varMaxMass {
  color: #3f51b5;
}

.txtMaxYear {
  color: white;
}

.mainCheckbox {
  color: red;
}

.txtTaskName {
  color: white;
}

.txtSubTaskName {
  color: white;
}

.isOrder{
  padding-bottom: 5px;
}

.orderFieldTxt{
  color: white;
}

.orderTypeTxt{
  color: white;
}

.file{
  padding-bottom: 10px;
}

.sliders{
  padding-top: 10px;
  padding-bottom: 10px;
}

.datePicker{
  padding-top: 10px;
  padding-bottom: 10px;
}

.checkbox{
  padding-top: 10px;
  padding-bottom: 10px;
}

.orderBy{
  padding-top: 10px;
  padding-bottom: 10px;
}

.buttons{
  padding-top: 10px;
}

::ng-deep .mat-divider {
  background-color: #00F7FF;
}

::ng-deep .mat-slide-toggle-bar {
  background-color: gray;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
  border-color: white;
  background-color: gray;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: white !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: black !important;

}

::ng-deep .mat-slider-thumb {
  background-color: white !important;
}

::ng-deep .mat-slider-track-background {
  background-color: white;
}

#from-slider {
  margin-top: -75px;
}

::ng-deep {
  #from-slider {
    .mat-slider-track-fill {
      background-color: GRAY_COLOR;
    }

    .mat-slider-track-background {
      background-color: transparent;
    }
  }

  #to-slider {
    .mat-slider-track-background {
      background-color: GRAY_COLOR;
    }
  }
}
